{% extends "index.html" %}
{% block header %}
    <div class="header">


        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="logout">log out</a>
                </li>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a>{{ current_user.username }}</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Secures elections</h3>


    </div>
{% endblock %}
{% block content %}
    {% if current_user.voted == "0" %}
        <div class="jumbotron">
            <p></p><a class="btn btn-lg btn-success" role="button" target="_blank" href="https://localhost:5001/vote/{{ user_alias }}">Vote!</a>
            </p>
        </div>
    {% endif %}
    {% if current_user.voted == "1" %}
        <div class="jumbotron">
            <p></p><a class="btn btn-lg btn-success" role="button">Thanks for voting!</a>
            </p>
        </div>
    {% endif %}
{% endblock %}
