<!DOCTYPE html>
<html lang="en">

<head>
    <title>Secure Elections</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

<div class="container">
    {% block header %}
        <div class="header">


            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="login">Sign In</a>
                    </li>
                    <li role="presentation"><a href="sign-up">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Secure elections</h3>


        </div>
    {% endblock %}
    {% block content %}

        <div class="jumbotron">
            <p><a class="btn btn-lg btn-success" href="sign-up" role="button">Sign up today</a>
            </p>
        </div>
    {% endblock %}

    {% block footer %}

        <footer class="footer">
            <p>Security course team project 2016/2017.</p>
        </footer>
    {% endblock %}

</div>
</body>

</html>