{% extends "index.html" %}
{% block content %}
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method=post>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="test" name="username" class="form-control" id="username" placeholder="Enter username" style="width:40%;">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" style="width:40%;">
        </div>
        <button type="login" class="btn btn-success">Login</button>
        <br>
        <br>
        <br>
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% endif %}
    {% for message in get_flashed_messages() %}
        <div class=Flash>
            <h2 style="color: crimson">{{ message }}</h2>
        </div>
    {% endfor %}
{% endblock %}