{% extends "index.html" %}
{% block content %}
    <h2>Sign up!</h2>
    <form action="{{ url_for('sign_up') }}" method=post>
        <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" type="name" class="form-control" id="name" placeholder="Enter name" style="width:40%;">
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input name="surname" type="surname" class="form-control" id="surname" placeholder="Enter surname"
                   style="width:40%;">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input name="username" type="username" class="form-control" id="username" placeholder="Enter username"
                   style="width:40%;">
        </div>
        <div class="form-group">
            <label for="pesel">Pesel:</label>
            <input name="pesel" type="pesel" class="form-control" id="pesel" placeholder="Enter pesel"
                   style="width:40%;">
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Enter e-mail"
                   style="width:40%;">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Enter password"
                   style="width:40%;">
        </div>
        <button type="signup" class="btn btn-success">Sign up!</button>
        <br>
        <br>
        <br>
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong>{{ error }}</p>
    {% endif %}
{% endblock %}